@font-face {
  font-weight: normal;
  font-style: normal;
  font-family: 'codropsicons';
  src: url('../../fonts/codropsicons/codropsicons.eot');
  src: url('../../fonts/codropsicons/codropsicons.eot?#iefix')
      format('embedded-opentype'),
    url('../../fonts/codropsicons/codropsicons.woff') format('woff'),
    url('../../fonts/codropsicons/codropsicons.ttf') format('truetype'),
    url('../../fonts/codropsicons/codropsicons.svg#codropsicons') format('svg');
}
.color-8 {
  background: #415c71;
  color: #fefef8;
}
.color-8 a {
  color: #7ad7ee;
}
.color-8 a:hover,
.color-8 a:focus {
  color: #539eb1;
}

section {
  padding: 4% 1em 10%;
  text-align: center;
}
