*,
*:after,
*:before {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.clearfix:before,
.clearfix:after {
  content: '';
  display: table;
}

.clearfix:after {
  clear: both;
}

body {
  font-family: 'Avenir Next', Avenir, 'Helvetica Neue', Helvetica, Arial,
    sans-serif;
  color: #414146;
  background: #186b39d9;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: 0;
}

a {
  text-decoration: none;
  color: #000;
  outline: none;
}

a:hover,
a:focus {
  color: #414146;
}

.container {
  position: relative;
  overflow: hidden;
  width: 100%;
}

/* Header */

.title-header {
  position: fixed;
  background: #f7f7f7; /* fallback for old browsers */
  min-height: 3.6em;
  z-index: 100;
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 1em;
  -webkit-box-shadow: 0 8px 6px -6px #999;
  -moz-box-shadow: 0 8px 6px -6px #999;
  box-shadow: 0 8px 6px -13px;
}

.title-header h1 {
  color: #3f3f3f;
  font-size: 1em;
  line-height: 2;
  margin: 0;
  padding: 0 1em;
  letter-spacing: 0.5em;
  margin-left: 1em;
}

.search-icons {
  margin-right: 2em;
}

.search-icons i {
  margin-right: 4.5em;
}

.fa-shopping-cart {
  letter-spacing: 0.2em;
}

@media screen and (max-width: 40em) {
  .title-header h1 {
    width: 100%;
    padding: 1em 0 1em 1em;
  }

  .search-icons {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-left: 4em;
  }

  .search-icons i:last-child {
    margin-right: 0;
  }
}
